@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200;400;600;800&family=Noto+Sans+JP:wght@100;300;500;700;900&display=swap");
@layer base {
  body {
    @apply bg-slate-50 dark:bg-slate-900;
    @apply text-slate-700 dark:text-slate-300;
    @apply font-light text-base;
    font-family: "Noto Sans JP", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1 {
    @apply text-xl font-bold mb-2 text-center text-slate-900 dark:text-slate-200;
  }

  h2 {
    @apply tracking-wider font-semibold;
  }

  h3 {
    @apply uppercase tracking-widest text-cyan-500 dark:text-cyan-400;
  }

  strong {
    @apply font-semibold text-cyan-500 dark:text-cyan-400 not-italic bg-transparent;
  }

  .primary-btn {
    @apply cursor-pointer shadow-lg shadow-cyan-600/50 hover:shadow-none hover:transform hover:translate-y-1 transition ease-in-out duration-200 bg-gradient-to-r from-cyan-500 to-teal-500 text-slate-100 text-sm px-4 py-3 rounded-md tracking-wider;
  }

  .contact-form input,
  .contact-form textarea {
    @apply w-full bg-slate-200 dark:bg-slate-800 appearance-none border-2 rounded-md px-2 py-3 focus:outline-none;
  }

  li {
    @apply py-1;
  }

  .sectionUnderline {
    @apply h-1 w-12 mx-auto mb-12 border-slate-700 dark:border-slate-400 border-b-2;
  }

  .skillsGroup {
    @apply mb-4 text-center;
  }

  .previewLTR {
    @apply md:col-span-3 md:col-start-6 md:col-end-3 relative pt-[56.25%];
  }

  .previewRTL {
    @apply md:col-span-3 md:col-start-1 md:col-end-4 relative pt-[56.25%];
  }

  .projectInfo {
    @apply p-2 h-full items-center flex;
  }

  .infoRTL {
    @apply md:col-span-2 md:col-start-4;
  }

  .infoLTR {
    @apply md:col-span-2 md:col-start-1 md:row-start-1;
  }

  .navDropdown {
    @apply py-1 absolute rounded-md bg-slate-50 dark:bg-slate-800 ring-1 ring-gray-900/10 shadow-lg;
  }

  .navDropdown li {
    @apply flex items-center cursor-pointer pl-3 pr-8 py-2 hover:bg-slate-300 dark:hover:bg-slate-700;
  }
}
