@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600&display=swap"); */

@layer base {
  body {
    @apply bg-slate-50 dark:bg-slate-900;
    @apply text-slate-700 dark:text-slate-300;
    @apply font-light text-base;
    /* font-family: "Raleway", sans-serif; */
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1 {
    @apply text-xl tracking-wider font-bold mb-2 text-center text-slate-900 dark:text-slate-200;
  }

  h2 {
    @apply tracking-wider font-semibold;
  }

  h3 {
    @apply font-bold uppercase tracking-wider text-cyan-500 dark:text-cyan-400;
  }

  mark {
    @apply font-semibold text-cyan-500 dark:text-cyan-400 not-italic bg-transparent;
  }

  .primary-btn {
    @apply cursor-pointer shadow-lg shadow-cyan-500/50 hover:shadow-none hover:transform hover:translate-y-1 transition ease-in-out duration-200 bg-gradient-to-r from-cyan-500 to-teal-500 text-slate-100 text-sm px-4 py-3 rounded-md tracking-wider;
  }

  .contact-form input,
  .contact-form textarea {
    @apply w-full bg-slate-200 dark:bg-slate-800 appearance-none border-2 rounded-md px-2 py-3 focus:outline-none;
  }

  li {
    @apply py-1;
  }

  .sectionUnderline {
    @apply h-1 w-12 mx-auto mb-12 border-slate-700 dark:border-slate-400 border-b-2;
  }

  .skillsGroup {
    @apply mb-4 text-center;
  }

  .embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    position: relative;
    flex: 0 0 100%;
  }

  .previewLTR {
    @apply md:col-span-3 md:col-start-6 md:col-end-3 relative pt-[56.25%];
  }

  .previewRTL {
    @apply md:col-span-3 md:col-start-1 md:col-end-4 relative pt-[56.25%];
  }

  .projectInfo {
    @apply p-2;
  }

  .infoRTL {
    @apply md:col-span-2 md:col-start-4;
  }

  .infoLTR {
    @apply md:col-span-2 md:col-start-1 md:row-start-1;
  }
}
