@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600&display=swap'); */

/* @import "react-responsive-carousel/lib/styles/carousel.min.css"; */

@layer base {
  body {
    @apply bg-accent dark:bg-gray-800;
    @apply text-gray-700 dark:text-gray-300;
    @apply font-normal;
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1 {
    @apply text-base font-semibold tracking-wider text-primary dark:text-primary;
  }

  h2 {
    @apply tracking-wider font-semibold;
  }

  mark {
    @apply font-semibold text-primary dark:text-primary not-italic bg-transparent;
  }

  .primary-btn {
    @apply cursor-pointer bg-blue-600 hover:bg-blue-500 text-blue-100 text-sm px-4 py-3 rounded tracking-wider;
  }

  .contact-form {
    @apply relative flex;
  }

  .contact-form input,
  .contact-form textarea {
    @apply w-full bg-gray-200 dark:bg-gray-700 focus:border focus:border-green-400 rounded p-2 focus:outline-none;
  }

  .contact-form label {
    @apply top-2 absolute left-2 duration-300 bg-transparent pointer-events-none;
  }

  .contact-form input:focus + label,
  .contact-form input:valid + label,
  .contact-form textarea:focus + label,
  .contact-form textarea:valid + label {
    @apply -top-5 bg-accent dark:bg-gray-800 text-xs;
  }
}
