@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200;400;600;800&display=swap");

@layer base {
  body {
    @apply bg-accent dark:bg-gray-800;
    @apply text-gray-700 dark:text-gray-300;
    @apply font-normal;
    font-family: "Noto Sans Display", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* * {
    background: #000 !important;
    color: red !important;
    outline: solid yellow 1px !important;
  } */

  html {
    min-width: 100%;
  }

  h1 {
    @apply text-2xl font-semibold tracking-wider text-primary dark:text-primary;
  }

  h2 {
    @apply tracking-wider font-semibold;
  }

  mark {
    @apply font-semibold text-primary dark:text-primary not-italic bg-transparent;
  }

  .primary-btn {
    @apply cursor-pointer shadow-xl hover:shadow-none hover:transform hover:translate-y-1 transition ease-in-out duration-200 bg-gradient-to-r from-blue-600 to-indigo-500 text-blue-100 text-sm px-4 py-3 rounded-md tracking-wider;
  }

  .contact-form {
    @apply relative flex;
  }

  .contact-form input,
  .contact-form textarea {
    @apply w-full bg-gray-200 dark:bg-gray-700 focus:ring-2 rounded-md p-2 focus:outline-none;
  }

  .contact-form label {
    @apply top-2 absolute left-2 duration-300 bg-transparent pointer-events-none;
  }

  .contact-form input:focus + label,
  .contact-form input:valid + label,
  .contact-form textarea:focus + label,
  .contact-form textarea:valid + label {
    @apply -top-5 bg-accent dark:bg-gray-800 text-xs;
  }
}
