@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

@layer base {
  * {
    @apply bg-secondary dark:bg-gray-800;
    @apply text-gray-700 dark:text-gray-300;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1 {
    @apply text-base tracking-wider text-primary;
  }

  h2 {
    @apply tracking-wider;
  }

  mark {
    @apply font-bold text-primary dark:text-primary;
  }

  .primary-btn {
    @apply cursor-pointer bg-blue-600 hover:bg-blue-500 text-blue-100 text-base px-4 py-3 rounded-md;
  }
}

/* body {
  background-color: var(--primary);
} */

/* .root,
#root,
#docs-root {
  --primary: #0e61fe;
  --secondary: #cfe1ff;
  --accent: #f5f8ff;
  --background: #fff;
  --main: #0d0106;
  --header: #2d3748;
} */
